<template>
  <div class="chat" v-if = "_getter_otherUser.length" >
    <div>
        <div class="start">
            {{ _getter_otherUserDoc.firstName +" " + _getter_otherUserDoc.lastName }}
        </div>
      <div>
        <!-- <div class="chatWith"> {{ (_getter_users[_getter_otherUser].firstName) + " " + (_getter_users[_getter_otherUser].lastName || "")}} </div> -->
          <div class="messages" v-show="_getter_messages.length">
            <ul v-for="message in _getter_messages" :key="message._id">
              <li> <b :class="(message.from === _getter_currentUser) ? 'green': ''">{{ getUser(message.from) }}:</b> {{ message.message }} </li>
            </ul>
          </div>
          <div class="messages" v-show="!_getter_messages.length"> <i class="messages_start">Start Conversation with {{  _getter_otherUserDoc.firstName +" " + _getter_otherUserDoc.lastName }}</i></div>
        <div class="messageInput">
          <input v-if = "_getter_otherUser.length" style="height:50%; width: 90%" v-model="typedMessage" type="text" placeholder="Type your message..." autocomplete="off" v-on:keydown.enter.prevent='sendMessage();'>
            <el-button @click="sendMessage()" :disabled="typedMessage.length == 0" type="success" icon="el-icon-check" circle></el-button>
        </div>

      </div>
    </div>
  </div>
  <div class="start" v-else>
    Select User to start conversation
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Leftbar from "./Leftbar";
export default {
  name: "Chat",
  components: { Leftbar },
  computed: {
    ...mapGetters({
      _getter_messages: "_getter_messages",
      _getter_currentUser: "_getter_currentUser",
      _getter_otherUser: "_getter_otherUser",
      _getter_currentUserDoc: "_getter_currentUserDoc",
      _getter_otherUserDoc: "_getter_otherUserDoc",
      _getter_messages: "_getter_messages",
      _getter_users: "_getter_users",
      _getter_currentConversation: "_getter_currentConversation"
    })
  },
  created() {},
  data() {
    return {
      typedMessage: ""
    };
  },
  methods: {
    sendMessage: function() {
      if (this.typedMessage.length) {
        console.log(this.typedMessage);
        let message = {
          message: this.typedMessage,
          from: this._getter_currentUser,
          to: this._getter_otherUser,
          conversationId: this._getter_currentConversation
        };
        console.log(message, "::");
        this.$store.dispatch("sendMessage", message);
        this.typedMessage = "";
      }
    },
    getUser: function(userId) {
      return userId == this._getter_currentUser
        ? "You"
        : this._getter_otherUserDoc.firstName +
            " " +
            this._getter_otherUserDoc.lastName;
    }
  }
};
</script>

<style scoped>
ul {
  text-align: left;
}
.messages {
  font-family: monospace;
  overflow-y: auto;
  height: 475px;
}
.messages_start{
    display: inherit !important;
    padding: 15px !important;
  text-align: center;
  display: flex;
}
.messageInput {
  text-align: left;
  padding: 25px;
}
.start {
  font-weight: 300;
  padding-top: 15px;
  color: #777777;
  text-align: center
}
.green {
  color: #67c23a
}
</style>
