<template>
<div>
    <el-row :gutter="20">
        <el-col :span="8">
            <LeftBar/>
        </el-col>
        <el-col :span="16">
            <Chat/>
        </el-col>
    </el-row>
</div>
</template>
<style>

</style>
<script>
import LeftBar from './Leftbar';
import Chat from './Chat';

export default {
    components: {
        LeftBar,
        Chat
    }
}
</script>
