<template>
    <div>
        <el-row>
            <el-input placeholder="Search User" v-model="searchName">
                <i slot="prefix" class="el-input__icon el-icon-search"></i>
            </el-input>
        </el-row>
        <!-- <div> <b>Conversations</b> </div>
        <div v-for="(value, key) in _getter_conversations" @click="loadMessages(key)" :key="value.conversationId" v-if="value!=null"> 
            <b>{{ getTheOtherUser(value).firstName }}</b> 
            <span>{{ value.message }}</span>
         </div> -->
         <el-row>
            <div class="heading"> <b>People</b> </div>
            <div class="leftbar">
              <div class="user grid-content"  v-for="(value, key) in _getter_users" @click="loadMessages(key)" :key="value.userId" v-if="value.userId!=_getter_currentUser"> 
                  <b>{{ value.fullName }}</b> 
                  <!-- <span>{{ value.status }}</span> -->
              </div>
            </div>
         </el-row>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Chat",
  computed: {
    ...mapGetters({
      _getter_conversations: "_getter_conversations",
      _getter_currentUser: "_getter_currentUser",
      _getter_users: "_getter_users"
    })
  },
  created() {
    this.$store.dispatch("loadUsers", null);
    this.$store.dispatch("loadConversations", {});
  },
  data() {
    return {
      searchName: ""
    };
  },
  watch: {
    searchName: function(val) {
        console.log(val, "search");
      this.$store.dispatch("loadUsers", val);
    }
  },
  methods: {
    getTheOtherUser: function(conversation) {
      return conversation.from == this._getter_currentUser
        ? this._getter_users[conversation.to]
        : this._getter_users[conversation.from];
    },
    loadMessages: function(userId) {
      this.$store.dispatch("loadMessages", userId);
    }
  }
};
</script>
<style scoped>
    .leftbar {
        height: 525px;
        overflow-y: auto;
    }
    .user {
        padding: 10;
        margin: 10;
    }

  .grid-content {
    display: flex;
    margin: 0px 0 0px 10px;
    /* background-color: #f0f9ff; */
    color: #777777;
    padding: 10px;
  } 
.heading {
  padding: 10px;
  color: #2f2f2f;
  text-align: center
}
.user:hover {
  cursor: pointer;
  background-color: #cecdcd;
}
</style>