<template>
  <div id="app">
    <!-- <leftbar></leftbar> -->
    <!-- <chat></chat> -->
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { watch } from "fs";

export default {
  name: "App",
  computed: {
    ...mapGetters({
      _getter_currentUser: "_getter_currentUser"
    })
  },
  created() {
    this.$socket.emit("user_connected", { user_id: this._getter_currentUser });
    this.$store.dispatch("loadCurrentUserDoc");
    this.$socket.on("receiveMessage", (message) => {
      this.$store.commit("setMessages", {
        message: message,
        reload: false
      });
    });
  },
  watch: {
    _getter_currentUser: function(val) {
      this.$socket.emit("user_connected", { user_id: val });
      // this.$store.dispatch("loadCurrentUserDoc");
    }
  }
};
</script>

<style>
#app {
  font-family: "monospace";
  overflow-x: hidden;
  overflow-y: hidden;
}
</style>
